* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 120px;
    font-weight: 900;
    letter-spacing: 20px;
    color: #ffffff;
}
p {
    font-size: 16px;
    letter-spacing: 4px;
    color: #888888;
    margin-top: 10px;
    text-transform: uppercase;
}
.linea{
    width: 60%;
    height: 1px;
    background-color: #ffffff;
    margin: 30px auto;
}

.boton {
    display: inline-block;
    margin-top: 40px;
    padding: 14px 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
}